*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    max-width: 1300px;
    height: 100vh;
    background-image: url(../image/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    
}

.container{
    max-width: 100%;
    padding-left: 50px;
    font-size: 40px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
/* ----------------TITLE-------------------- */
.title{
    background-color: white;
    height: 135px;
    position: relative;
}
.logo-title{
    position: relative;
    left: 1%;
    width: 8%;
    float: left;
}

.pllogo{
    position: relative;
    left: 30px;
    top: 10px;
}

.list-title{
    background-color: #e74c3c;
    height: 40%;
}
.list-title>ul>li{
    font-size: 50%;
    list-style: none;
    display: inline-block;
    padding: 10px 60px; 
    background-color: #e74c3c;
}

a{
    color: white;
    text-decoration: none;
}

a:hover{
    color: #b33939;
    transition: 0.5s;
}
/* -------------------HEADER---------------- */

.header{
    background-color: rgba(0,0,0,0.3);
}

.match{
    width: 70%;
}

.matches{
    display: flex;
    text-align: center;
}
.matches>ul>li{
    list-style: none;
}

.matches ul li:hover img{
    transform: scale(1.1);
    transition: 1s;
}

/* -----------------------CONTENT-------------------- */
/* ------------------------CONTENT TOP--------------- */
.content-top{
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
}

.newsphoto{
    width: 430px;
}

.news{
    width: 430px;
    font-size: 25px;
    padding-top: 30px;
}
.news>a{
    color: #e55039;
}

.news>a:hover{
    color:#b71540;
}

#news{
    font-size: 25px;
    color: #e55039;
    font-weight: bold;
}

.newsphoto:hover{
    transform: scale(1.02);
    transition: 0.5s;
}
/* LEAGUE TABLE */
table{
    font-size: 30px;
}
caption{
    font-size: 25px;
    padding-bottom: 5px;
}
thead{
    background: #e74c3c;
}
tr:nth-child(even){
    background: gray;
}
td{
    text-align: center;
}

thead>tr>th{
    color: white;
}

tbody>tr>th{
    font-weight: normal;
    text-align: left ;
}

/* ------------------CONTENT MID---------------- */

.tatic{
    display: inline-block;
    position: relative;
}

.player{
    width: 60px;
    height: 70px;
    border-radius: 50%;
}
/* ---------------TEAM------------- */
#alison{
    position: absolute;
    bottom: 0;
    left: 42%;
}

#vandijk{
    position: absolute;
    bottom: 20%;
    right: 30%;
}

#matip{
    position: absolute;
    bottom: 20%;
    left: 30%;
}

#robertson{
    position: absolute;
    bottom: 30%;
    right: 5%
}

#trent{
    position: absolute;
    bottom: 30%;
    left: 5%
}

#henderson{
    position: absolute;
    bottom: 40%;
    right: 30%;
}

#wijnaldum{
    position: absolute;
    bottom: 55%;
    right: 42%;
}

#fabio{
    position: absolute;
    bottom: 40%;
    left: 30%;
}

#salah{
    position: absolute;
    bottom: 70%;
    right: 5%
}

#mane{
    position: absolute;
    bottom: 70%;
    left: 5%
}

#firmino{
    position: absolute;
    bottom: 75%;
    right: 42%;
}





